table,td,th
{
  border: 1px solid black;
  border-collapse: collapse;
}

th, td 
{
  padding: 20PX;
}

#a1Start,#a2Start,#a3Start,#a4Start,#a1Finish,#a2Finish,#a3Finish,#a4Finish
{
	background-color: yellow;
	color: black;
}

#a1Start,#a2Start,#a3Start,#a4Start
{
	
	background-image: url("gelbFigur.png");
	background-repeat: no-repeat;
	background-position: center;
}

.aStartPoint
{
	border: 10px solid yellow;
	color: red;
}


#b1Start,#b2Start,#b3Start,#b4Start,#b1Finish,#b2Finish,#b3Finish,#b4Finish
{
	background-color: green;
	color: black;
}

#b1Start,#b2Start,#b3Start,#b4Start
{
	
	background-image: url("gruenFigur.png");
	background-repeat: no-repeat;
	background-position: center;
}

.bStartPoint
{
	border: 10px solid green;
	color: red;
}

#c1Start,#c2Start,#c3Start,#c4Start,#c1Finish,#c2Finish,#c3Finish,#c4Finish
{
	background-color: blue;
	color: black;
}

#c1Start,#c2Start,#c3Start,#c4Start
{	
	background-image: url("blauFigur.png");
	background-repeat: no-repeat;
	background-position: center;
}

.cStartPoint
{
	border: 10px solid blue;
	color: red;
}

#d1Start,#d2Start,#d3Start,#d4Start,#d1Finish,#d2Finish,#d3Finish,#d4Finish
{
	background-color: red;
	color: black;
}

#d1Start,#d2Start,#d3Start,#d4Start
{	
	background-image: url("rotFigur.png");
	background-repeat: no-repeat;
	background-position: center;
}

.dStartPoint
{
	border: 10px solid red;
	color: red;
}

#feld1,#feld2,#feld3,#feld4,#feld5,#feld6,#feld7, #feld8,#feld9,#feld10,
#feld11,#feld12,#feld13,#feld14,#feld15,#feld16,#feld17,#feld18,#feld19,#feld20,
#feld21,#feld22,#feld23,#feld24,#feld25,#feld26,#feld27,#feld28,#feld29,#feld30,
#feld31,#feld32,#feld33,#feld34,#feld35,#feld36,#feld37,#feld38,#feld39,#feld40
{	
	background-color: grey;
}
